body{
    background: #17202A;
    font-family: 'open_sansregular';
    color: white;
    margin-left: 0px;
}
.site-logo{
	display: flex;
	align-items: center;
	background-color: #273746; 
}
li{
    display: inline-block;
    margin-top: 0%;
}
a{
margin-left: 25px;
font-size: 285%;
color: #839192;
}
b{
margin-left: 25px;
color: #839192;
}